[submodule "circom/rapidsnark"]
	path = frameworks/circom/rapidsnark
	url = https://github.com/iden3/rapidsnark.git
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/zkCollective/bench-data.git
