tmp/
node_modules/
package-lock.json
package.json
phase1/powersOfTau28_hez_final_17.ptau
phase1/powersOfTau28_hez_final_18.ptau
phase1/powersOfTau28_hez_final_19.ptau
phase1/powersOfTau28_hez_final_20.ptau
phase1/powersOfTau28_hez_final_21.ptau
phase1/powersOfTau28_hez_final_22.ptau
phase1/powersOfTau28_hez_final_23.ptau
phase1/powersOfTau28_hez_final_24.ptau
